<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
</head>
<body>
    <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/services"><li>Services</li></a>
                <a href="/contact"><li>Contact Us</li></a>
            </ul>
        </nav>
        <main class="services_box">
            <h1>WELCOME TO MY PROJECT</h1>
            <h2>This is the Services Page</h2>
            <img src="https://media.tenor.com/UNTqMDwqh1gAAAAM/hello-hi.gif" alt="hello">
        </main>
</body>
</html>